/*

ANIMATION AND KEYFRAMES

*/

@keyframes forth{
/*	0%{ 
		transform:translateX(0%); 
	}
    100% { 

    	transform:translateX(-100%); 
    }*/
    0%{
    	transform:translateX(0);
    }
    100%{
    	transform:translateX(-94.7368%);
    }
}
@keyframes back{
/*	0%{ 
		transform:translateX(0%); 
	}
    100% { 

    	transform:translateX(-100%); 
    }*/
    0%{
    	transform:translateX(-94.7368%);
    }
    100%{
    	transform:translateX(0);
    }
}
@keyframes show{
    0%{

        transform:translateY(100%);
    }
    100%{
        transform:translateY(0%);
    }
}
.show{
    animation:show 1200ms forwards;
    animation-timing-function:cubic-bezier(.19,1,.22,1);
    -webkit-animation-delay: 200ms; /* Chrome, Safari, Opera */
    animation-delay: 200ms;
}