#navbar{
	z-index:2000;
	height:216px;
	align-items:flex-end;
	justify-content:space-between;
	position:fixed;
	z-index:11000;
}
#navbarGlyph{
	margin-left:144px;
}
#navbarMenu{
	overflow:hidden;
	width:72px;
	height:72px;
	margin-right:144px;
}
#menuSpritesheet{
	height:72px;
	width:auto;
	position:absolute;
	left:0;
	z-index:10000 !important;
}
#menu{
	position:fixed;
	font-family:EB;
	background:rgba(9,9,16,.98);
	z-index:10000;
	font-size: 48px;
	letter-spacing:8px;
	line-height:72px;
	pointer-events: none;
	opacity:0;
	transition:opacity .3s;
	transition-timing-function:ease-out;
}
#menu ul{
	align-self:flex-start;
	text-align: left;
	padding-left:72px;
}
#menuSpritesheet{

}
#one{
	padding-top:216px;
	height: calc(100% - 216px);
	overflow: hidden;
	flex-direction:column;
	justify-content:space-between;
}
/* First goes slide ID then Container Number*/
#oneOne{
	height:25%;
}
#oneTwo{
	height:20%;
	justify-content:center;
}
#oneTwo h1{
	margin:auto;
}
#oneThree{
	height:55%;
}

#oneThree img{
	height:100%;
	transform:translateY(100%);

}

#two{
	background-color:#f1f2f2;
}
#two #first img{
	height:60%;
}