#navbar{
	z-index:2000;
	height:216px;
	align-items:flex-end;
	justify-content:space-between;
	position:fixed;
	z-index:11000;
}
#navbarGlyph{
	margin-left:144px;
}
#navbarMenu{
	overflow:hidden;
	width:72px;
	height:72px;
	margin-right:144px;
}
#menuSpritesheet{
	height:72px;
	width:auto;
	position:absolute;
	left:0;
	z-index:10000 !important;
}
#menu{
	position:fixed;
	font-family:EB;
	background:rgba(9,9,16,.98);
	z-index:10000;
	font-size: 48px;
	letter-spacing:8px;
	line-height:72px;
	pointer-events: none;
	opacity:0;
}
#menu ul{
	align-self:flex-start;
	margin:auto;
	padding:auto;
	text-align: left;
	padding-left:72px;
}
#menuSpritesheet{

}
#one{
	padding-top:216px;
	height: calc(100% - 216px);
	overflow: hidden;
	flex-direction:column;
	justify-content:space-between;
}
/* First goes slide ID then Container Number*/
#oneOne{
	height:25%;
	opacity:0;
}
#oneTwo{
	height:auto;
	opacity:0;
}
#oneThree{
	height:55%;
	transform:translateY(100%);
}

#two{
	background-color:#f1f2f2;
	color:#2c2c2c;
	justify-content:center;
} 
#two section{
	margin-left:144px;
}
#two h1{
	font-family:EB;
}
#two p{
	text-align: left;
}
#two #first{
	height:60%;
}

#three{
	background-color:#f1f2f2;
	color:#2c2c2c;
	justify-content:center;
} 
#three section{
	margin-right:144px;
}
#three h1{
	font-family:EB;
}
#three p{
	text-align: left;
}
#three #first{
	height:60%;
}