#navbar{
	z-index:2000;
	height:216px;
	align-items:flex-end;
	justify-content:space-between;
	position:fixed;
	z-index:11000;
	transition:height .5s ease;
}
#navbarGlyph{
	transition:height .5s ease;
	height:72px;
	width:auto;
/*	margin-left:144px;
*/}
#navbarMenu{
	transition:height .5s ease;	
	overflow:hidden;
	width:72px;
	height:72px;
/*	margin-right:144px;
*/}
#menuSpritesheet{
	transition:height .5s ease;	
	height:56px;
	width:auto;
	position:absolute;
	left:0;
	z-index:10000 !important;
}
#menuDark{
	opacity:0;
}
#menu{
	position:fixed;
	font-family:PN-EB;
	color: rgb(246, 237, 160);
	background-color:rgba(33,29,28,.9);
	z-index:10000;
	font-size: 48px;
	letter-spacing:8px;
	line-height:72px;
	pointer-events: none;
	opacity:0;
}
#menu ul{
	align-self:flex-start;
	margin:auto;
	padding:auto;
	text-align: left;
	padding-left:72px;

}
#menu li{
	transition:color .4s ease;
}

#menu li:hover{
	transition:color .4s ease;
	color:#B71C1C;
}
#menuSpritesheet{

}
#one{
	color:#f6eda0;
	background-color:#211d1c;
	padding-top:216px;
	height: calc(100% - 216px);
	overflow: hidden;
	flex-direction:column;
	justify-content:space-between;
/*	background:url(../img/one-bg-first.svg), url(../img/one-bg-second.jpg);
	background-position:center center,center center, center center;
	background-size:contain contain;*/
}
/* First goes slide ID then Container Number*/
#splash{
	height:100%;
	width:100%;
	position:absolute;
}
#one .first{
	height:25%;
	opacity:0;
}
#one h1,
#one h2{
	margin-top:0;
	margin-bottom:0;
	padding:auto;
}
#one p{
	font-family:PN-LI;
	text-align:left;
}
#one section{
	transition:padding .5s ease;
}
#one .second {
	height:auto;
	opacity:0;
}
#one .third{
	height:55%;
	margin-top:5%;
	transform:translateY(100%);
}

#two{
/*	top:100%;
*/	background-color:#faf8f5;
	color:#262117;
	justify-content:center;
	line-height: 150%;
} 
#two section{
/*	margin-left:144px;
*/}
#two h1{
}
#two p{
	text-align: left;
}
#two #first{
	height:55%;
}

#three{
	background-color:#262117;
	color:#cdb378;
	justify-content:center;
} 
#three section{
/*	margin-right:144px;
*/}
#three h1{
	font-family:PN-EB;
}
#three p{
	text-align: left;
}
#three #second{
	height:60%;
}



#navbarGlyph{
/*	margin-left:144px;
*/}
#navbarMenu{
	overflow:hidden;
	width:72px;
	height:72px;
/*	margin-right:144px;
*/}
@media screen and (max-width: 1440px){
	#navbar{
		height:168px;
	}
	#one{
		height: calc(100% - 168px);
		padding-top:168px;
	}
	#one section{
		padding-top:72px;
	}
}
@media screen and (max-width: 1280px){
	#navbar{
		height:168px;
	}
	#navbarGlyph{
		height:56px;
		width:auto;
	}	
	#navbarMenu{
		width:56px;
		height:56px;
	}
	#menuSpritesheet{
		height:56px;
		width:auto;
	}
	#one{
		height: calc(100% - 168px);
		padding-top:168px;
	}
	#one section{
		padding-top:56px;
	}
}
@media screen and (max-width: 1024px){
	#navbar{
		height:144px;
	}
	#navbarGlyph{
		height:48px;
		width:auto;
	}	
	#navbarMenu{
		width:48px;
		height:48px;
	}
	#menuSpritesheet{
		height:48px;
		width:auto;
	}
	#menu{
		font-size:36px;
		line-height:48px;
		letter-spacing: 4px;
	}
	#menu ul{
		padding-left:48px;
		padding-right:48px;
	}	
	#one{
		height: calc(100% - 144px);
		padding-top:144px;	
	}
	#one section{
		padding-top:48px;
	}
	#two,
	#three{
		flex-direction:column;
	}
	#two section,
	#three section{
		margin-left:0;
		margin-right:0;
	}

}
@media screen and (max-width: 768px){
	#navbar{
		height:108px;
	}
	#navbarGlyph{
		height:36px;
		width:auto;
	}	
	#navbarMenu{
		width:36px;
		height:36px;
	}
	#menuSpritesheet{
		height:36px;
		width:auto;
	}
	#menu{
		font-size:36px;
		line-height:48px;
		letter-spacing: 4px;
	}
	#menu ul{
		padding-left:36px;
		padding-right:36px;
	}	
	#one{
		height: calc(100% - 108px);
		padding-top:108px;
	}
	#one section{
		padding-top:108px;
	}
	#two{
		height: calc(100% - 108px);
		padding-top:108px;		
	}
	#two section{
		padding-top:48px;
	}

}
@media screen and (max-width: 540px){
	#navbar{
		height:96px;
		align-items:center;
		background-color:rgba(33,29,28,.8);
	}
	#menu{
		font-size:28px;
		line-height:36px;
		letter-spacing:4px;
	}
	#menu ul{
		padding-left:24px;
		padding-right:24px;
	}		
	#one{
		height: calc(100% - 112px);
		padding-top:112px;
	}
	#one section{
		padding-top:18px;
	}
	#two{
		height: calc(100% - 112px);
		padding-top:112px;
	}
	#two section{
		padding-top:12px;
	}
	#two #first{
		height:50%;
	}
	#two #second{
		margin-top:12px;
	}
	#three #second{
		height:55%;
		margin-top:12px;
	}
}
@media screen and (max-width:360px){
	#one{
		height: calc(100% - 104px);
		padding-top:104px;
	}
}
/*@media screen and (max-width: 320px){
	#navbar{
		height:96px;
		align-items:center;
		background-color:rgba(33,29,28,.8);
	}
	#navbarGlyph{
		height:24px;
		width:auto;
	}	
	#navbarMenu{
		width:24px;
		height:24px;
	}
	#menuSpritesheet{
		height:24px;
		width:auto;
	}
	#one{
		height: calc(100% - 144px);
		padding-top:144px;
	}
	#one section{
		padding-top:18px;
	}
	#two #first{
		height:50%;
		margin-top:72px;
	}
	#two #second{
		margin-top:36px;
	}
	#three #second{
		height:55%;
		margin-top:15%;
	}
}
*/